#img-accueil {
    width: 100%;
    height: 40vh;
    background-image: url(../img/bovis-shark.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
#titreHeader {
    font-size: 8rem;
    padding-top: 6rem;
    padding-right: 5rem;
    color: chartreuse;
    text-shadow: 0 0 5px rgb(151, 228, 75), 0 0 10px rgb(82, 134, 30), 0 0 15px rgb(50, 85, 15);
}
#id-main{
    background: rgb(4,22,36);
    background: linear-gradient(90deg, rgba(4,22,36,1) 0%, rgba(3,43,71,1) 50%, rgba(4,22,36,1) 100%);
}
#id-workarea{
    background: rgb(75,113,142);
    background: linear-gradient(90deg, rgba(75,113,142,1) 0%, rgba(114,166,207,1) 50%, rgba(75,113,142,1) 100%);
}


.foot1{
    background-color: #ad926d;
    color: rgb(255, 255, 255);

}
.foot2{
    background-color: #453015;
    color: rgb(255, 255, 255);
}